{% extends "_base.html" %}
{% load static %}
{% block title %}{{ block.super }} | Home{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
{% block content %}
	<h1 id="title" class="text-center text-9xl font-bold mt-20 text-zinc-600">Product List</h1>
    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <a href="{% url 'detail_product' product.id %}">
                    {% if product.cover_image %}
                        <img src="{{ product.cover_image.url }}" alt="{{ product.title }}">
                    {% else %}
                        <img src="https://via.placeholder.com/300" alt="No Image Available">
                    {% endif %}
                </a>
                <div class="product-title">{{ product.title }}</div>
                <div class="product-price" >{{ product.price }} USD</div>
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
{% endblock %}


