{% extends "_base.html" %}

{% block content %}
<section class="w-full">
    <h1 class="text-center mb-6 text-3xl">Your Order</h1>

    {% if order %}
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.orders_item.all %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.number_of_sale }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.number_of_sale|multiply:item.product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST" action="{% url 'complete_order' %}">
        {% csrf_token %}
        <button type="submit" class="bg-green-500 text-white px-4 py-2 mt-4">Complete Order</button>
    </form>

    {% else %}
    <p>No active orders.</p>
    {% endif %}
</section>
{% endblock %}
