{% extends "_base.html" %}
{% load custom_filters %}

{% block content %}
<section class="w-full">
    <h1 class="text-center mb-6 text-3xl">Your Order</h1>

    {% if order %}
    <table class="table-auto w-full text-left border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200 text-black">
                <th class="border border-gray-300 px-4 py-2">Product</th>
                <th class="border border-gray-300 px-4 py-2">Quantity</th>
                <th class="border border-gray-300 px-4 py-2">Price</th>
                <th class="border border-gray-300 px-4 py-2">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.orders_item.all %}
            <tr>
                <td class="border border-gray-300 px-4 py-2">{{ item.product.title }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ item.number_of_sale }}</td>
                <td class="border border-gray-300 px-4 py-2">${{ item.product.price }}</td>
                <td class="border border-gray-300 px-4 py-2">${{ item.number_of_sale|multiply:item.product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 text-center">
        <p class="text-lg font-semibold">Total Price: ${{ total_price }}</p>

        <form method="POST" action="{% url 'complete_order' %}" class="mt-6">
            {% csrf_token %}
            <button type="submit" class="bg-green-500 text-white px-6 py-2 rounded-lg">Complete Order</button>
        </form>
    </div>

    {% else %}
    <p>No active orders.</p>
    {% endif %}
</section>
{% endblock %}
